<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница добавления записи</title>
    <div>
        <h1>Добавление записи</h1>
        <form action="/add" method="post">
            <input type="text" name="nameParam" placeholder="Введите имя" class="form-control">
            <input type="text" name="addressParam" placeholder="Введите адрес" class="form-control">
            <input type="text" name="phoneParam" placeholder="Введите телефон" class="form-control">
            <button type="submit">Добавить запись</button>
        </form>
    </div>
</head>
<body>

</body>
</html>